.app {
    max-width: 400px;
    margin: 50px auto;
    background-color: #596275;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25), inset 0 2px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid #f6b93b;
    text-align: center;
}

.option {
    cursor: pointer;
    padding: 15px;
    border: 2px solid #e58e26;
    background-color: #f6b93b;
    border-radius: 5px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    color: #0a3d62;
    transition: all 250ms ease-out;
    position: relative;
}

.option+.option {
    margin-top: 10px;
}

.option:not(.option--correct):not(.option--incorrect):hover {
    color: white;
    background-color: #6a89cc;
    border-color: #4a69bd;
}

.option::after {
    position: absolute;
    right: 10px;
}

.option--correct {
    cursor: default;
    background-color: #38ada9;
    border-color: #079992;
}

.option--correct::after {
    content: '\2713';
}

.option--incorrect {
    cursor: default;
    background-color: #e55039;
    border-color: #b71540;
}

.option--incorrect::after {
    content: 'x';
}

.question {
    font-style: italic;
    margin-bottom: 40px;
}

.finished {
    padding: 40px;
}

.title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #0a3d62;
}

.button {
    cursor: pointer;
    display: inline-block;
    margin-top: 40px;
    padding: 12px 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    border-radius: 4px;
    font-size: 12px;
    color: #0a3d62;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    border: none;
}

.button:focus {
    outline: none;
}

.button[disabled] {
    opacity: 0.25;
    cursor: not-allowed;
}